.two_bloc{
    
    display: flex;
    
    justify-items: center;
}
.ligne{
    
    display: flex;
    
    justify-items: center;
}

.bloc{
    width: 450px;
    height: 200px;
    border: 4px solid black;
    margin: 5px;
    text-align: center;
    background-color: gray;

}

  

h1{
    text-align: center;
}
.titre {
    width: 80px;
    height: 20px;
    border: 1px solid black;
    float: right;
    text-align: center;
    margin-top: 0;
    
}
#titre1{
    background-color: rgb(226, 101, 185);
}
#titre2{
    
    background-color: brown;
    color: bisque;

}
#titre3{
    background-color: rgb(235, 227, 116);

}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@media (min-width:768px) and (max-width:991px){ 

    .titre {
        width: 80px;
        height: 20px;
        border: 1px solid black;
        float: right;
        text-align: center;
        margin-top: 0;
        
    }
    .ligne{
        display: flex;
        flex-wrap:wrap;
    }
    .bloc:nth-child(2){
        width:300px;
    }
    .bloc:nth-child(1){
        width:300px;
    }
    .bloc:nth-child(3){
        width:100%;
    }

 
    
   
}


@media (max-width:767px) {
    .ligne{
    
        display: block;
    }
    .bloc {
    margin: 0 auto;
    margin-bottom: 5px;
  }


}